/* Layout
---------------------------------------------------------- */
	html {
		background: #000;
		color: #CCC; }

	body {
		background: #000;
		color: #CCC;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
		font-size: 62.5%;
		margin: 0;
		padding: 0 0 20px 0; }


        .frame {
		margin: 0 auto !important;
		width: 760px !important; }

	img {
		border: 0; }

	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.clearfix { display: inline-block; } 

	/* Hides from IE-mac \*/
	* html .clearfix { height: 1%; }
	.clearfix { display: block; }
	/* End hide from IE-mac */	

/* Header
---------------------------------------------------------- */
	#header {
		padding: 20px 0; }

	#header .title {
		float: left;
		width: 65%; }

	#header .cart {
		float: right;
		text-align: right;
		width: 35%; }


/* Artwork
---------------------------------------------------------- */
	#container {
		background: #000 url(../images/bg.jpg) no-repeat 50% 50%;
		border-bottom: solid 1px #CCC;
		border-top: solid 1px #CCC;
		padding: 20px 0; }
 
	#artwork {
		padding: 0 0 0 20px;
		padding: 0; }
 
	#artwork ul {
		list-style-type: none;
		margin: 0;
		padding: 0; } 
 
	#artwork li {
		float: left; }
 
	#artwork a {
		border: solid 5px #CCC;
		display: block; 
		margin: 20px;}
 
	#artwork a:hover {
		border: solid 5px #FFF; }

/* Footer
---------------------------------------------------------- */
	#footer {
		padding: 20px 0 0 0; }

        #footer .info {
                float: right;
                text-align: right;
                width: 45%; }

        #footer .page {
                float: left;
                width: 45%; }

	#footer .page ul {
		list-style-type: none;
		margin: 0;
		padding: 0; }

	#footer .page ul li {
		float: left; }

	#footer .page ul li a {
		color: #CCC;
		display: block;
		padding: 5px; 
		text-decoration: none;}

	#footer .page ul li a:hover {
		color: #FFF; }

	#footer .page .current {
		background: #CCC;
		color: #000; }
