---
---

<div class="blogs">
  <p class="pull-right">
    <a href="{{ '/blog/feed.xml' | prepend: site.baseurl }}" class="btn btn-default"><i class="fa fa-rss-square"></i> Subscribe</a>
  </p>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <div class="excerpt">
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>  
      {% include posts-meta.html post=post %}
      {{ post.content }}
    </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="post-footer text-center">
      <ul class="pagination  pagination-sm">
        {% if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&laquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&laquo;</span>
          </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="active">
              <span>{{ page }}</span>
            </li>
          {% elsif page == 1 %}
            <li>
              <a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ site.paginate_path | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>