.layout-home {
  color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;

  .centered {
    flex: none;
  }

  h1 {
    color: #FFF;
    font-size: 5em;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #FFF;
    background: rgba(255, 255, 255, .2);
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background: rgba(255, 255, 255, .5);
  }
}