---
layout: base
isBlog: true
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% include posts-meta.html post=page %}
  </header>
  
  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="post-footer">
  <ul class="pager">
    {% if page.next %}
      <li class="previous">
        <a href="{{ page.next.url | prepend: site.baseurl }}"><i class="fa fa-angle-double-left"></i> {{ page.next.title }}</a>
      </li>      
    {% endif %}
    {% if page.previous %}
      <li class="next">
        <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }} <i class="fa fa-angle-double-right"></i></a>
      </li>
    {% endif %}  
  </ul>
</div>

{% if page.showComments %}

  <div class="comments" id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      
      // Probably a better way to handle this when I migrated from Wordpress
      var disqus_url = 'http://life.bobbyearl.com{{ page.permalink }}';
      
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//bobbyearl.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

{% endif %}