@import 'tailwindcss';

:root {
  --be-color-bg-start: var(--color-fuchsia-300);
  --be-color-bg-end: var(--color-indigo-100);
  --be-color-text: var(--color-black);
}

.dark {
  --be-color-bg-start: var(--color-fuchsia-900);
  --be-color-bg-end: var(--color-indigo-500);
  --be-color-text: var(--color-white);
}

body {
  @apply h-screen p-4;
  background: linear-gradient(
    45deg,
    var(--be-color-bg-start),
    var(--be-color-bg-end)
  );
}

main {
  @apply flex h-full;
}

article {
  @apply m-auto flex max-w-lg flex-col gap-3 text-(--be-color-text);
}

aside {
  @apply flex flex-row justify-end;
}

aside svg {
  @apply size-6;
}

.theme-switcher {
  @apply grid grid-cols-1;
}

.theme-switcher-options {
  @apply relative z-0 inline-grid grid-cols-3 gap-0.5 bg-gray-950/5 p-0.75;
}

.theme-switcher-option {
  @apply relative p-1.5 *:size-7 has-checked:bg-white has-checked:ring has-checked:inset-ring has-checked:ring-gray-950/10 has-checked:inset-ring-white/10 sm:p-0 dark:has-checked:bg-gray-600 dark:has-checked:text-white dark:has-checked:ring-transparent;
}

.theme-switcher-option input {
  @apply absolute inset-0 appearance-none;
}

section {
  @apply flex flex-col gap-4 border-10 border-(--be-color-text) bg-(--be-color-text)/10 p-10 shadow-xl max-sm:p-6;
}

header {
  @apply flex flex-row items-end gap-2 max-sm:flex-col max-sm:items-start;
}

h1 {
  @apply text-4xl;
}

a,
button {
  @apply cursor-pointer;
}

button svg {
  @apply size-3 opacity-75 hover:opacity-100;
}

h2 {
  @apply flex items-baseline italic;
}

a {
  @apply bg-white/20 no-underline hover:bg-white/40;
}

ul {
  @apply flex flex-row gap-4;
}

/* https://www.figma.com/community/file/839558611085349133 */
ul li svg {
  @apply size-5 opacity-75 hover:opacity-100;
}
